<div class="container-fluid p-0">
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-6 col-xl-6 col-md-8 col-sm-8 col-12 mob-mb1">
          <div class="form-group mb-0">
            <span class="input-icon-left"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" class="feather feather-search align-middle">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
              </svg></span>
            <input type="text" class="form-control form-control-search"
              placeholder="Seach by emplouyee name, email, date of joining...">
          </div>
        </div>
        <div class="col-lg-2 col-xl-2 col-sm-4 col-md-4 col-12">
          <button type="button" routerLink="/admin/add-employee" class="btn btn-primary w-100">+ Add Employee</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped mb-0">
          <thead class="table-light">
            <tr>
              <th scope="col">Employees</th>
              <th scope="col">Email</th>
              <th scope="col">Date of Joining</th>
              <th scope="col">Phone no. </th>
              <th scope="col">Role</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a routerLink="/admin/employee-details-outstanding">Ayush</a></td>
              <td>skills@gmail.com</td>
              <td>01-12-2002</td>
              <td>9845746310</td>
              <td>Line Manager</td>
            </tr>
            <tr>
              <td><a routerLink="/admin/employee-details-outstanding">Ayush</a></td>
              <td>skills@gmail.com</td>
              <td>01-12-2002</td>
              <td>9845746310</td>
              <td>Line Manager</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>