<main class="content bg-white">
    <div class="container-fluid p-0">
        <div class="page-title">
            <h2><a routerLink="/admin/employee-list" class="me-2 text-dark"><i class="bi bi-arrow-left-circle"></i></a>
                Employee</h2>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-xl-2 col-md-2 col-12">
                        <div class="profile-image">
                            <img src="assets/img/avatars/avatar-4.jpg" class="img-fluid">
                            <div class="input--file">
                                <i class="bi bi-camera-fill"></i>
                                <input name="Select File" type="file">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10 col-xl-10 col-md-10 col-sm-10 col-12">
                        <ul class="Employeedetails">
                            <li>
                                <p>First Name</p>
                                <p class="mb-0 text-muted">First Name</p>
                            </li>
                            <li>
                                <p>Middle Name</p>
                                <p class="mb-0 text-muted">Middle Name</p>
                            </li>
                            <li>
                                <p>Last Name</p>
                                <p class="mb-0 text-muted">Last Name</p>
                            </li>
                            <li>
                                <p>Gender</p>
                                <p class="mb-0 text-muted">Select</p>
                            </li>
                            <li>
                                <p>Date of Birth</p>
                                <p class="mb-0 text-muted">MM/DD/YY</p>
                            </li>
                            <li>
                                <p>Email</p>
                                <p class="mb-0 text-muted">email@example.com</p>
                            </li>
                            <li>
                                <p>Phome</p>
                                <p class="mb-0 text-muted">Alternate phone</p>
                            </li>
                        </ul>
                        <div class="text-end">
                            <a href="#" class="btn btn-sm btn-primary">All Details</a>
                            <a href="#" class="btn btn-sm btn-primary">Hide Details</a>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-11 col-xl-11 col-md-11 col-sm-11 col-12">
                        <ul class="Employeedetails">
                            <li>
                                <p>Date of Joining</p>
                                <p class="mb-0 text-muted">11/21/2024</p>
                            </li>
                            <li>
                                <p>Phone </p>
                                <p class="mb-0 text-muted">XXXXX XXXXX</p>
                            </li>
                            <li>
                                <p>Email</p>
                                <p class="mb-0 text-muted">emailid@example.com</p>
                            </li>
                            <li>
                                <p>Alternate Phone</p>
                                <p class="mb-0 text-muted">XXXXX-XXXXX</p>
                            </li>
                            <li>
                                <p>State</p>
                                <p class="mb-0 text-muted">State name</p>
                            </li>
                            <li>
                                <p>City</p>
                                <p class="mb-0 text-muted">City name</p>
                            </li>
                            <li>
                                <p>Country</p>
                                <p class="mb-0 text-muted">India</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-auto text-end">
                        <a href="#"><i class="bi bi-pencil-square"></i> Edit</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-xl-8 col-md-6 col-sm-6 col-12 mob-mb1">
                        <ul class="OutstandingTab mb-4">
                            <li>
                                <a routerLink="/admin/employee-details-outstanding" class="first-child active">
                                    <img src="assets/img/icons/outstanding-icon.png" /> Outstanding
                                </a>
                            </li>
                            <li>
                                <a routerLink="/admin/employee-details-completed" class="second-child">
                                    <img src="assets/img/icons/completed-icon.png" /> Completed
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-xl-4 col-md-6 col-sm-6 col-12">
                        <div class="form-group mb-0">
                            <span class="input-icon-left"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-search align-middle">
                                    <circle cx="11" cy="11" r="8"></circle>
                                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                </svg></span>
                            <input type="text" class="form-control form-control-search"
                                placeholder="Seach by emplouyee name, email, date of joining...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped mb-0">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Test Name</th>
                                <th scope="col">Version</th>
                                <th scope="col">Due Date</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Soft Skills</td>
                                <td>Version 2.30</td>
                                <td>01-12-2002</td>
                                <td><a href="" class="btn btn-primary btn-sm rounded">Edit</a></td>
                            </tr>
                            <tr>
                                <td>Soft Skills</td>
                                <td>Version 2.30</td>
                                <td>01-12-2002</td>
                                <td><a href="" class="btn btn-primary btn-sm rounded">Edit</a></td>
                            </tr>
                            <tr>
                                <td>Soft Skills</td>
                                <td>Version 2.30</td>
                                <td>01-12-2002</td>
                                <td><a href="" class="btn btn-primary btn-sm rounded">Edit</a></td>
                            </tr>
                            <tr>
                                <td>Soft Skills</td>
                                <td>Version 2.30</td>
                                <td>01-12-2002</td>
                                <td><a href="" class="btn btn-primary btn-sm rounded">Edit</a></td>
                            </tr>
                            <tr>
                                <td>Soft Skills</td>
                                <td>Version 2.30</td>
                                <td>01-12-2002</td>
                                <td><a href="" class="btn btn-primary btn-sm rounded">Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>