<div class="wrapper">
    <div class="main">
        <main class="content bg-white">
            <div class="container-fluid p-0">
                <div class="page-title  mb-3">
                    <h2><a routerLink="/admin/employee-list" class="me-2 text-dark"><i
                                class="bi bi-arrow-left-circle"></i></a>Employee Information</h2>
                </div>
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row align-items-center mb-4">
                                <div class="col-lg-2 col-xl-2 col-md-2 col-12">
                                    <div class="profile-image">
                                        <img src="assets/img/avatars/avatar-4.jpg" class="img-fluid">
                                        <div class="input--file">
                                            <i class="bi bi-camera-fill"></i>
                                            <input name="Select File" type="file">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-xl-10 col-md-10 col-sm-10 col-12">
                                    <p>Upload Employee image here</p>
                                    <div class="input-file-btn btn" style="position: relative;">
                                        Browse
                                        <input name="Select File" type="file">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-xl-4 col-md-4 colk-smn-4 col-12">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" class="form-control" placeholder="First name" required>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-4 col-md-4 colk-smn-4 col-12">
                                    <div class="form-group">
                                        <label>Middle Name</label>
                                        <input type="text" class="form-control" placeholder="Middle name" required>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-4 col-md-4 colk-smn-4 col-12">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control" placeholder="Last name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-xl-4 col-md-4 colk-smn-4 col-12">
                                    <div class="form-group">
                                        <label>Gender</label>
                                        <select class="form-select">
                                            <option>select</option>
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-4 col-md-4 colk-smn-4 col-12">
                                    <div class="form-group">
                                        <label>Date of Birth</label>
                                        <input type="date" class="form-control" placeholder="MM/DD/YYYY" required>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-4 col-md-4 colk-smn-4 col-12">
                                    <div class="form-group">
                                        <label>Email Address</label>
                                        <input type="email" class="form-control" placeholder="Email address" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-xl-4 col-md-4 colk-smn-4 col-12">
                                    <div class="form-group">
                                        <label>Joining Date</label>
                                        <input type="date" class="form-control" placeholder="MM/DD/YYYY" required>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-4 col-md-4 colk-smn-4 col-12">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input type="text" class="form-control" placeholder="Phone number" required>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-4 col-md-4 colk-smn-4 col-12">
                                    <div class="form-group">
                                        <label>Alternate Phone</label>
                                        <input type="text" class="form-control" placeholder="Alternate number">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-xl-4 col-md-4 colk-smn-4 col-12">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <select class="form-select">
                                            <option>Select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-4 col-md-4 colk-smn-4 col-12">
                                    <div class="form-group">
                                        <label>State</label>
                                        <select class="form-select">
                                            <option>Select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-4 col-md-4 colk-smn-4 col-12">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input type="text" class="form-control" placeholder="City name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-end">
                                <button type="submit" class="btn btn-primary">Save Employee</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>