<div class="wrapper">
    <div class="main">
        <main class="content bg-white">
            <div class="container-fluid p-0">
                <div class="page-title  mb-3">
                    <h2><a href="outstanding-test.html" class="me-2 text-dark"><i
                                class="bi bi-arrow-left-circle"></i></a> Policies Name</h2>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">Policies Name</th>
                                        <th scope="col">Last Updated Date</th>
                                        <th scope="col">Policy Type</th>
                                        <th scope="col">Date Stamp </th>
                                        <th scope="col">View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="datapolicy-version.html">Privacy and Data Policy</a></td>
                                        <td>31-12-2024</td>
                                        <td><span class="badge bg-primary">For Information</span></td>
                                        <td>30-12-2024</td>
                                        <td><a href="terms-conditions.html" class="text-dark"><i
                                                    class="bi bi-eye-fill"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="datapolicy-version.html">Privacy and Data Policy</a></td>
                                        <td>31-12-2024</td>
                                        <td><span class="badge bg-primary">For Action</span></td>
                                        <td>28-12-2024</td>
                                        <td><a href="terms-conditions.html" class="text-dark"><i
                                                    class="bi bi-eye-fill"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="datapolicy-version.html">Privacy and Data Policy</a></td>
                                        <td>31-12-2024</td>
                                        <td><span class="badge bg-primary">For Information</span></td>
                                        <td>30-12-2024</td>
                                        <td><a href="terms-conditions.html" class="text-dark"><i
                                                    class="bi bi-eye-fill"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="datapolicy-version.html">Privacy and Data Policy</a></td>
                                        <td>31-12-2024</td>
                                        <td><span class="badge bg-primary">For Action</span></td>
                                        <td>28-12-2024</td>
                                        <td><a href="terms-conditions.html" class="text-dark"><i
                                                    class="bi bi-eye-fill"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="datapolicy-version.html">Privacy and Data Policy</a></td>
                                        <td>31-12-2024</td>
                                        <td><span class="badge bg-primary">For Information</span></td>
                                        <td>30-12-2024</td>
                                        <td><a href="terms-conditions.html" class="text-dark"><i
                                                    class="bi bi-eye-fill"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="datapolicy-version.html">Privacy and Data Policy</a></td>
                                        <td>31-12-2024</td>
                                        <td><span class="badge bg-primary">For Action</span></td>
                                        <td>28-12-2024</td>
                                        <td><a href="terms-conditions.html" class="text-dark"><i
                                                    class="bi bi-eye-fill"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="datapolicy-version.html">Privacy and Data Policy</a></td>
                                        <td>31-12-2024</td>
                                        <td><span class="badge bg-primary">For Information</span></td>
                                        <td>30-12-2024</td>
                                        <td><a href="terms-conditions.html" class="text-dark"><i
                                                    class="bi bi-eye-fill"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="datapolicy-version.html">Privacy and Data Policy</a></td>
                                        <td>31-12-2024</td>
                                        <td><span class="badge bg-primary">For Action</span></td>
                                        <td>28-12-2024</td>
                                        <td><a href="terms-conditions.html" class="text-dark"><i
                                                    class="bi bi-eye-fill"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="datapolicy-version.html">Privacy and Data Policy</a></td>
                                        <td>31-12-2024</td>
                                        <td><span class="badge bg-primary">For Information</span></td>
                                        <td>30-12-2024</td>
                                        <td><a href="terms-conditions.html" class="text-dark"><i
                                                    class="bi bi-eye-fill"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="datapolicy-version.html">Privacy and Data Policy</a></td>
                                        <td>31-12-2024</td>
                                        <td><span class="badge bg-primary">For Action</span></td>
                                        <td>28-12-2024</td>
                                        <td><a href="terms-conditions.html" class="text-dark"><i
                                                    class="bi bi-eye-fill"></i></a></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>