<div class="wrapper">
    <div class="main">
        <main class="content bg-white">
            <div class="container-fluid p-0">
                <div class="page-title  mb-3">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <h2><a href="exam-instruction.html" class="me-2 text-dark"><i
                                        class="bi bi-arrow-left-circle"></i></a></h2>
                        </div>
                        <div class="col-6 text-end">
                            <span class="badge bg-success ps-3 pe-3 pt-2 pb-2">0:00</span>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header text-center bg-light">
                        <h2 class="mb-0 p-600">Data Analysis Exam</h2>
                    </div>
                    <div class="card-body">
                        <div class="row align-items-center mb-3">
                            <div class="col-6">
                                <p><strong>Read Questions Carefully.</strong></p>
                            </div>
                            <div class="col-6 text-end">
                                <a href="outstanding-test.html" class="btn btn-warning">Complete</a>
                            </div>
                        </div>

                        <h3 class="mb-4">46.Which of the following is Data Visualization method ?</h3>

                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="acceptinstructions">
                            <label class="form-check-label" for="acceptinstructions">
                                a.Line
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="acceptinstructions">
                            <label class="form-check-label" for="acceptinstructions">
                                b.Circle
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="acceptinstructions">
                            <label class="form-check-label" for="acceptinstructions">
                                c.Bar Graph and Pie Chart
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="acceptinstructions">
                            <label class="form-check-label" for="acceptinstructions">
                                d.Pentagon
                            </label>
                        </div>
                        <div class="form-group text-end mt-3">
                            <a href="#" class="btn btn-dark"><i class="bi bi-chevron-left"></i> Previus</a>
                            <a href="#" class="btn btn-primary">Next <i class="bi bi-chevron-right"></i></a>
                        </div>
                        <div class="p-5">
                            <div class="progress mb-2">
                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="text-center">01/60 Completed </p>
                        </div>

                    </div>
                </div>
            </div>
        </main>
    </div>
</div>