<main class="d-flex w-100">
    <div class="login-container d-flex flex-column">
        <div class="row vh-100 m-0">
            <div class="col-lg-7 col-xl-7 col-12 p-0">
                <div class="login-leftside text-center">
                    <img src="assets/img/illustration-login.png" />
                </div>
            </div>
            <div class="col-lg-5 col-xl-5 col-sm-8 col-md-8 col-12 mx-auto d-table h-100 p-0 bg-white">
                <div class="d-table-cell align-middle p-5">

                    <div class="mt-4 mb-5 text-center">
                        <h1><strong>Compliance Portal</strong></h1>
                    </div>
                    <div class="LoginForm text-center">
                        <img src="assets/img/message-send.png" class="mb-2 pt-2" />
                        <p>Kindly check your email a link has been sent there to reset your password. </p>
                        <p>Back to Sign In ? <a href="sign-in.html" class="text-muted">Go Back</a></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>