<body>
    <div class="wrapper">
        <div class="main">
            <main class="content bg-white">
                <div class="container-fluid p-0">
                    <div class="page-title mb-3">
                        <h2><a routerLink="/policies/policies-list" class="me-2 text-dark"><i
                                    class="bi bi-arrow-left-circle"></i></a>Upload Policy</h2>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="row align-items-center">
                                    <div class="col-lg-2 col-xl-2 col-12">
                                        <label class="col-form-label">Users Group:</label>
                                    </div>
                                    <div class="col-lg-10 col-xl-10 col-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Data security">
                                        </div>
                                    </div>
                                </div>

                                <div class="row g-3 align-items-center">
                                    <div class="col-lg-2 col-xl-2 col-12">
                                        <label class="col-form-label">Version:</label>
                                    </div>
                                    <div class="col-lg-10 col-xl-10 col-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="2.20">
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 align-items-center">
                                    <div class="col-lg-2 col-xl-2 col-12">
                                        <label class="col-form-label">Content(Description) :</label>
                                    </div>
                                    <div class="col-lg-10 col-xl-10 col-12">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="2"
                                                cols="100">This is content section which is also know as description please fill the detail of this policy</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 align-items-center">
                                    <div class="col-lg-2 col-xl-2 col-12">
                                        <label class="col-form-label">User Group :</label>
                                    </div>
                                    <div class="col-lg-10 col-xl-10 col-12">
                                        <div class="form-group">
                                            <select class="form-select">
                                                <option>Line Manger</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 align-items-center">
                                    <div class="col-lg-2 col-xl-2 col-12">
                                        <label class="col-form-label">Policy Type :</label>
                                    </div>
                                    <div class="col-lg-10 col-xl-10 col-12">
                                        <div class="form-group">
                                            <select class="form-select">
                                                <option>For Information</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-primary">Upload Policy</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>